<div class="full-width-bg component">
  <div class="grid-wrapper">
    <div class="width-12-12 width-12-12-m">
      <h2>What is Microlam?</h2>
      <p>Microlam is an opiniated opensource (MIT) micro-framework dedicated to AWS Serverless targeting simplicity, hackability and efficiency.</p>
      <p>If you are a Java developer and you want to develop for AWS Serverless you will find million resources on Internet but only a few are really working, or well design, solutions.
        Microlam hopes helping you find a simple but effective path among all the knowledge with tools to empower you as an AWS Serverless developer.</p>
     <h2>What Makes Microlam Different?</h2>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/powered-by-aws.png">
      <h3>AWS Serverless First</h3>
      <p>Microlam helps you develop for AWS Lambda using Java 11, Java 17 or Java 21 then compiling to native via GraalVM and building a Custom Runtime for amd64 or arm64 in order to get the best performance in production and lower costs.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/micro-framework.png">
      <h3>Micro-framework</h3>
      <p>Microlam is an opinionated java micro-framework, leveraging maven and AWS Java SDK 2.x., but very lightweight as required for GraalVM native compilation.</p>
    </div>
    <div class="width-3-12 width-12-12-m">
      <img src="{{site.baseurl}}/assets/images/simple-hackable-efficient-black.png">
      <h3>Simplicity, hackability and efficiency</h3>
      <p>Starting with Microlam is very simple, as you can deploy our sample application to AWS in 5 minutes, but it is never done magically, but always in a way you can hack and understand fully. Development life-cyle is kept as short of possible and there is no compromise on production performance.</p>
    </div>
  </div>
</div>
