<div class="content company-footer">
  <div class="grid-wrapper">
    <span class="licence">
      <i class="fab fa-creative-commons"></i><i class="fab fa-creative-commons-by"></i> <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC by 3.0</a> (adapted from <a href="https://quarkus.io">Quarkus</a> site) | <a href="https://solusoft.tech//privacy.html">Privacy Policy</a>
    </span>
    <span class="company">
      Sponsored by
    </span>
    <span class="company-logo">
      <a href="https://solusoft.tech/" target="_blank"><img src="{{site.baseurl}}/assets/images/solusoft-logo-longueur-transparent.png"></a>
    </span>
  </div>
</div>
