<div class="full-width-bg component alt-background">
  <div class="grid-wrapper">
    <div class="grid__item width-6-12 width-12-12-m feedback-help">
      <h3>Feedback and Help</h3>
      <p>For usage questions, we recommend to:</p>
      <ul>
        <li>Use the <a href="https://github.com/microlam-io/microlam/discussions">Discussions</a> section on our GitHub project. </li>
        <li>Ask on <a href="https://stackoverflow.com/questions/tagged/microlam">Stack Overflow with the <code>microlam</code> tag</a></li>
      </ul>
      <p>For questions related to the development of Microlam:</p>
      <ul>
        <li>The <a href="https://groups.google.com/d/forum/microlam-io" target="_blank">microlam-io Google Groups</a></li>
        <li>Chat using <a href="https://microlam.zulipchat.com" target="_blank">Zulip</a> (<code>#dev</code> stream)</li>
      </ul>
      <p>Your help is more than welcome! Don’t hesitate to join the crowd.</p>
    </div>
    <div class="grid__item width-6-12 width-12-12-m">
      <h3>Join the Microlam Community</h3>
      <p>
        Check out our <a href="https://github.com/microlam-io/microlam" target="_blank">GitHub</a> for details on reporting issues and the process for submitting pull requests.<br /><br />
        Every contribution is valuable. It can be a bug report, an example application, a feature request, a fix in the documentation or just feedback.
      </p>
    </div>
  </div>
      <iframe src="https://github.com/sponsors/microlam-io/card" title="Sponsor microlam.io" height="225" width="600" style="border: 0;"></iframe>
</div>
