<div class="grid-wrapper homepage-hero-band">
  <div class="grid__item width-7-12 homepage-hero-band-hero-callout">
    <h2>AWS SERVERLESS<span class="light-blue"></span><br>WITH <span class="light-blue">JAVA</span><br></h2>
    </div>
  <div class="grid__item width-1-12"></div> 
  <div class="grid__item width-4-12 text-center homepage-hero-band-calloutcontent">
    <p>A Java micro-framework dedicated to AWS Serverless<br/>targeting<br/>simplicity, hackability and efficiency.</p>
    <p class="nowavailable">Now Available</p>
    <h3>Microlam {{ site.data.versions.microlam.version | replace: ".Final", "" }}</h3>
    <p class="moreinfo"><a href="{{ site.data.versions.microlam.announce }}">Read the announcement</a></p>
  </div>
  <div class="grid__item width-12-12 text-center">
    <a href="{{site.baseurl}}/get-started/" class="button-cta">Get Started with Microlam</a>
  </div>  
  <div class="grid__item width-12-12 homepage-hero-band-scroll">
    <a href="#" class="scroll-down" address="true"></a>   
  </div>
</div>